// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require nib
@require "~styl/base/palette.styl"

.navLink
  margin-bottom 12px

.section
  h1
    margin-bottom 12px
    
.chart-catalog-header
    margin 12px 0px

button
  border: 1px solid #c8cbd4
  border-radius: 4px
  color: #5f6c87
  font-family: Lato-Regular
  padding 3px 9px
  margin-bottom 4px
  margin-right 4px
  text-transform: uppercase

.table-wrapper
  padding-bottom 12px

.chart-details
  padding 12px
  p
    padding-left 16px
    margin-bottom 20px